* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#content{
	border: 5px solid lightgray;
	padding: 15px 15px;
	margin: 0px 50px;
}
p{
	margin: 20px;
}
h1 {
	margin: 20px;
}
#date{
	text-transform: uppercase;
	color: #00bfff;
}
#para1{
	border-left: 5px solid #008b8b;
	margin-left: 20px;
	padding-left: 5px;
}