* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Style for the Navbar */

.navbar {
    color: #3a0;
}

.btn {
    border-color: #3a0;
}

#hd {
    color: #3a0;
}


/* Style for the Header of the About */

.heading {
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
}


/* style for about div's */

.content {
    clear: both;
    padding: 12px;
}

.boxheading {
    float: right;
    margin-top: 0px;
    padding: 5px 15px;
    font-size: 1.25em;
}

#number1 {
    background-color: #87CEFA;
}

#number2 {
    background-color: #B22222;
}

#number3 {
    background-color: #FF8C00;
}

#valueorder {
    margin-left: 70px;
    padding: 6px;
}

.boxstyle {
    background-color: #3CD97F;
    font-family: cursive;
    margin: 2%;
}


/* style background for the programming heading Div's */

.box2 {
    float: left;
    width: 20%;
}

.boxheading2 {
    float: right;
    padding: 5px 10px;
    margin-top: 0px;
    font-size: 1.25em
}

.boxstyle2 {
    background-color: #A9A9A9;
    font-family: cursive;
    margin: 2%;
}

#number10 {
    background-color: #cc8719;
}

#number11 {
    background-color: #ef4314;
}

#number12 {
    background-color: #ef0bef;
}

#number13 {
    background-color: #2400ff;
}

#number14 {
    background-color: #B22222;
}


/* style for programming languages page */

#number20 {
    background-color: gold;
}

#number21 {
    background-color: indianred;
}


/* Media Queiries for programmming div's */

@media screen and (min-width:992px) {
    .box2 {
        width: 20%;
    }
}

@media (max-width:767px) {
    .box2 {
        width: 98%;
    }
}


/* style inputs with type="text" elements */

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #3a0;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #3a0;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #3a0;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: #3a0;
}

.formcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/* style for the calendar */

#calendar-body {
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(280deg, #73de93, #bcd6a3, #2c5442);
}

#monthAndYear {
    font-size: 24px;
    font-weight: 700;
}


/* footer */

#footer {
    background-color: gray;
    text-align: center;
    padding: 10px 5px;
}